body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 20px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: #275302;
}

.table-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    text-align: center;
    overflow-x: auto;
}

.button-voltar-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.button-voltar-container a {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.button-voltar-container a:hover {
    background-color: #0056b3;
}

.filter-form select,
.button-container select {
    font-family: "Verdana", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    max-height: 90vh;
    overflow-y: auto;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.itens-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itens-container label {
    margin-bottom: 5px;
}

.itens-container input, .itens-container select, .itens-container textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input, .form-container select, .form-container textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-container .btn {
    width: auto;
    margin-right: 10px;
    border-radius: 4px;
    
}

.form-container .btn.cancel {
    background-color: #dc3545;
}

.form-container .btn.cancel:hover {
    background-color: #c82333;
}

.btn.cancel {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.btn.cancel:hover {
    background-color: #c82333;
}

.filter-form {
    margin-bottom: 20px;
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    max-width: 1024px;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Ajuste de altura da linha e adição de reticências */
th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* Mantém em uma linha */
    overflow: hidden;
    /* text-overflow: ellipsis;  Adiciona os "..." caso ultrapasse o limite */
    max-width: 180px; /* Define uma largura máxima para controlar o tamanho da célula */
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Estilos de status do pedido */
.status-pedido-feito {
    background-color: #ffcccb;
}

.status-em-producao {
    background-color: #99ccff;
}

.status-concluido {
    background-color: #ccffcc;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    margin: 3px;
}

.btn:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.3s ease;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* Reduzindo a margem superior para 5% */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    max-height: 80vh;
    overflow-y: auto;
    animation: slideIn 0.3s ease;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.item-pedido, .pagamento-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
   
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    /* Garante que a descrição seja exibida corretamente */
    #view-content p {
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    /* Estiliza tabelas para serem responsivas */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table th, table td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd;
        white-space: nowrap; /* Mantém os valores em linha */
    }

    /* Torna a tabela responsiva com rolagem horizontal */
    .table-responsive {
        overflow-x: auto;
    }

    /* Exibição responsiva em colunas */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        border-bottom: 2px solid #ddd;
    }

    table td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-align: left;
    }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}